<div class="contents">
  <ul class="linkContainer">
    <li class="navTxt hvr-bounce-to-rightGreen"  scroll-to="about"
    container-id="custom-container-id" offset="50">ABOUT</li>
    <li class="navTxt hvr-bounce-to-rightGreen"  scroll-to="work"
    container-id="custom-container-id"  offset="50">WORK</li>
    <li href="#resume" class="navTxt hvr-bounce-to-rightGreen"  scroll-to="resume"
    container-id="custom-container-id"  offset="0">RESUME</li>
    <li href="#contact" class="navTxt hvr-bounce-to-rightGreen"  scroll-to="contact"
    container-id="custom-container-id"  offset="50">CONTACT</li>
  </ul>
  <div class="iconRow">
    <div class="iconBox">
      <a href="https://github.com/datLucius" class="col-mid-4"><div class="fa fa-github green iconSpacer col-mid-4"></div></a>
        <a href="mailto:jlnelsonart@gmail.com" class="col-mid-4"><div class="fa fa-envelope green iconSpacer col-mid-4"></div></a>
      <a href="https://www.linkedin.com/pub/lucius-nelson/103/493/998" class="col-mid-4"><div class="fa fa-linkedin-square green iconSpacer col-mid-4"></div></a>
      </div>
  </div>
</div>

<!-- about-->

<div id="about">
  <div class="aboutSizer">
    <div class="aboutP1">
    <div class="aboutText2">CODE as ART</div>
  <div class="aboutText">My skills were forged in the fiery depths of Fine Art. Driven by an unquenchable urge to learn and create, I traversed the kingdoms of Paint and Film. Now, harnessing all the skills I've aquired - the eye for detail, the love of teamwork, the determination to be push creativity - I am exploring Front End Development in all its glory.</div>
  </div>
  <div class="aboutP2">
    <div class="aboutText2" id="secondTitle">Let's go</div>
    <div class="aboutText">I'm currently looking to join forces with a design-driven creative team that loves the process and quality of what they do.</div>
  </div>
  </div>
</div>

<!-- about-->

<div class="work" id="work">
    <div class="workTitle">work</div>
  <ul class="rowofWork">
    <a href="#/yes"><li class="portfolioPiece" ng-click="showDetail()">
      <div class="spoke col-mid-4"></div>
      <div class="workText">YES YES Y'ALL</div>
    </li></a>
    <a href="#/imK"><li class="portfolioPiece" ng-click="showIKDetail()">
      <div class="imK col-mid-4"></div>
      <div class="workText">IMMORAL KOMBAT</div>
    </li></a>
    <a href="#/art"><li class="portfolioPiece" ng-click="showdatArtDetail()">
      <div class="datArt col-mid-4"></div>
      <div class="workText">ART WORK</div>
    </li></a>
  </ul>
  </div>

</div>

<!-- resume -->

<div id="resume">
      <span class="resumeText">resume</span>
  <div class="resumeBox">
    <div class="resumeLinks">
      <a href="#/resume"><div class="fa fa-file icon" ng-click=><p class="webPdf">web</p></div></a>
      <a href="LuciusResume.pdf"><div class="fa fa-file-pdf-o icon"><p class="webPdf">pdf</p></div></a>
    </div>
  </div>

</div>


<!-- contact-->

<div id="contact">
  <div class="contactTitle">LET'S MAKE THE WEB FUN</div>
  <ul class="contactInfo">
    <li><a href="mailto:jlnelsonart@gmail.com" class="visHover">jlnelsonart@gmail.com</a></li>
    <li><a href="tel:843-670-3343" class="visHover">(843) 670 3343</a></li>
  </ul>

</div>

<div id="floating-nav-content">
     <span class="navName">LUCIUS</span>
     <ul class="navLinks">
       <li><a href="mailto:jlnelsonart@gmail.com">jlnelsonart@gmail.com</a></li>
     <li><a href="tel:843-670-3343">(843) 670 3343</a></li>
     </ul>
 </div>


 <!-- Project Detail overlays-->

 <div class="hexMixDetail hideThis">
   <div class="hexMixImg"></div>
   <div class="centerText">
     <div class="title">Hex Mix</div>
     <div class="description">This is a group project I worked on at the Iron Yard. During this project, I was required to step up to the plate in Angular JS and build functionality that let's users create / search color palettes. My front end team worked with a a back end team to discuss concept, data structure, and learn how to collaborate using github.</div>
     <div class="tech">Tech used: Angular JS, Jquery, Javascript, Spectrum, HMTL, CSS, git</div>
        <div class="closeThis fa fa-chevron-circle-left detailClose" ng-click="hideHexDetail()"></div>
   </div>
 </div>
